* {
    margin: 0;
    padding: 0;
}

.play {
    color: white;
    width: 100%;
    height: 667px;
    background-color: #0b0c11;
    position: relative;
}

.play .logo {
    margin-top: 20px;
    margin-left: 20px;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 100px;
    text-align: center;
}

.play .logo span img {
    width: 20px;
    height: 20px;
}

.play .logo span:nth-child(2) {
    text-align: center;
    margin-left: 3px;
    line-height: 20px;
    height: 20px;
}

.play .circle-warp {
    width: 100%;
    height: 400px;
    background-color: #0b0c11;
    position: relative;
    overflow: hidden;
}

.play .circle-warp .circle-side {
    border: 4px solid #B3B3B3;
    position: absolute;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #1a1b20;
    top: 50%;
    /*父元素高度的一半*/
    left: 50%;
    /*父元素宽度的一半*/
    margin-left: -125px;
    /*自己宽度的一半*/
    margin-top: -125px;
    /*自己高度的一半*/
}

.play .circle-warp ::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    filter: blur(15px); /* 30px */
    background-image: radial-gradient(white, silver);
}

.play .circle-warp .circle-side .circle-img {
    position: absolute;
    margin: 0 auto;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #2a2a2a;
    top: 50%;
    /*父元素高度的一半*/
    left: 50%;
    /*父元素宽度的一半*/
    margin-left: -110px;
    /*自己宽度的一半*/
    margin-top: -110px;
    /*自己高度的一半*/
    animation: rotate 10s linear infinite;
}

.play .circle-warp .circle-side .playbutton {
    position: absolute;
    margin: 0 auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 50%;
    /*父元素高度的一半*/
    left: 50%;
    /*父元素宽度的一半*/
    margin-left: -25px;
    /*自己宽度的一半*/
    margin-top: -25px;
}

.play .circle-warp .circle-side  .playbutton img {
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.play .changeMusic {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-size: 40px;
}

.play .jumpChart {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.play .jumpChart span {
    width: 20px;
    height: 100px;
    background-color: darkorange;
    transition: all .5s ease-in-out;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
}
