
.search-content {
    width: 100%;
    height: 538.5px;
}

.search-content .search-input {
    width: 100%;
    position: relative;
    height: 60px;
    padding: 15px 10px;
}

.search-content .search-input .input-cover {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ebecec;
    border-radius: 25px;
}

.search-content .search-input .input-cover .search-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNiAyNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjYzljOWNhIiBkPSJNMjUuMTgxIDIzLjUzNWwtMS40MTQgMS40MTQtNy4zMTUtNy4zMTRBOS45NjYgOS45NjYgMCAwIDEgMTAgMjBDNC40NzcgMjAgMCAxNS41MjMgMCAxMFM0LjQ3NyAwIDEwIDBzMTAgNC40NzcgMTAgMTBjMCAyLjM0Mi0uODExIDQuNDktMi4xNiA2LjE5NWw3LjM0MSA3LjM0ek0xMCAyYTggOCAwIDEgMCAwIDE2IDggOCAwIDAgMCAwLTE2eiIvPjwvc3ZnPg==);
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 9px;
    margin: 0 8px;
    vertical-align: middle;
}

.search-content .search-input .input-cover input {
    position: relative;
    display: block;
    width: 85%;
    border: 0;
    height: 30px;
    line-height: 18px;
    font-size: 14px;
    color: #333;
    -webkit-appearance: none;
    margin: 0 auto;
    background: #ebecec;
}

.search-content .search-input .input-cover .holder {
    position: absolute;
    left: 30px;
    top: 7px;
    font-size: 14px;
    color: #c9c9c9;
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
    z-index: 1;
}

.search-content .hot-list {
    border-top: 1px solid gainsboro;
    padding: 15px 10px 0;
}

.search-content .hot-list h3 {
    font-size: 14px;
    line-height: 12px;
    color: #666;
}

.search-content .hot-list ul {
    margin: 10px 0 7px;
}

.search-content .hot-list ul li {
    display: inline-block;
    height: 32px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 0 14px;
    font-size: 14px;
    line-height: 32px;
    color: #333;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 32px;
}

.search-content .hot-history {

}

.search-content .hot-history ul {

}

.search-content .hot-history li {
    display: flex;
    justify-content: center;
}

.search-content .hot-history li i {
    margin: 15px 10px;
    width: 15px;
    height: 15px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjYzljYWNhIiBkPSJNMTUgMzBDNi43MTYgMzAgMCAyMy4yODQgMCAxNVM2LjcxNiAwIDE1IDBzMTUgNi43MTYgMTUgMTUtNi43MTYgMTUtMTUgMTVtMC0yOEM3LjgyIDIgMiA3LjgyIDIgMTVzNS44MiAxMyAxMyAxMyAxMy01LjgyIDEzLTEzUzIyLjE4IDIgMTUgMm03IDE2aC04YTEgMSAwIDAgMS0xLTFWN2ExIDEgMCAxIDEgMiAwdjloN2ExIDEgMCAxIDEgMCAyIi8+PC9zdmc+);
    display: inline-block;
    vertical-align: middle;
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.search-content .hot-history .history-content {
    border-bottom: 1px solid gainsboro;
    height: 45px;
    line-height: 45px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1%;
}

.search-content .hot-history .history-content span {
    font-size: 14px;
    line-height: 28px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
}

.search-content .hot-history .history-content figure {
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    flex: 0 0 auto;
    line-height: 32px;
}

.search-content .hot-history .history-content figure i {
    margin: 0;
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjOTk5ODk5IiBkPSJNMTMuMzc5IDEybDEwLjMzOCAxMC4zMzdhLjk3NS45NzUgMCAxIDEtMS4zNzggMS4zNzlMMTIuMDAxIDEzLjM3OCAxLjY2MyAyMy43MTZhLjk3NC45NzQgMCAxIDEtMS4zNzgtMS4zNzlMMTAuNjIzIDEyIC4yODUgMS42NjJBLjk3NC45NzQgMCAxIDEgMS42NjMuMjg0bDEwLjMzOCAxMC4zMzhMMjIuMzM5LjI4NGEuOTc0Ljk3NCAwIDEgMSAxLjM3OCAxLjM3OEwxMy4zNzkgMTIiLz48L3N2Zz4=);
}